<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/landingPage.css">
<!-- <div class="conatiner">
    <h1>Welcome to Virtual Kanban Board</h1>
    <h3>To use Virtual Kanban Boards, you need to login or register.</h3>
    <div class="conatiner mb-3">
        <p>New to Virtual Kanban Boards? Register to get started.</p>
        <a href="/register"><button class="btn btn-success">Register</button></a>
    </div>
    <div class="container mb-3">
        <p>Already a user?</p>
        <a href="/login"><button class="btn btn-primary">Login</button></a>
    </div>
</div>-->



<body class="d-flex text-center text-white bg-dark">
    <main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="mb-3">
            <div class="glass mt-3 container centerText flexContainer">
                <div class="container addMargin">
                    <h1>FLOWHUB : The Virtual Kanban Board</h1>
                    <p class="lead">Transforming traditional project management into an intuitive and dynamic experience</p>
                    Our Virtual Kanban Board revolutionizes task organization and collaboration.
                    Seamlessly blending simplicity with powerful functionality, our Virtual Kanban Board fosters efficiency, transparency, and agility within teams of any size or industry. Say goodbye to cluttered spreadsheets and hello to a new era of productivity with our innovative solution.</p>            </div>
                <div class="container mb-3">
                    <div class="row">
                        <div class="col sideLine">
                            <p>New to Flowhub? Register to get started.</p>
                            <a href="/register"><button class="btn btn-success">Register</button></a>
                        </div>
                        <div class="col">
                            <p>Already a user? Log in to continue:  </p>
                            <a href="/login"><button class="btn btn-primary">Login</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <!-- <footer class="mt-auto text-white-50">
        <p>&copy; 2024 </p>
    </footer> -->
</body>
